# 11 - Seleksi kolom dan baris pada Data Frame menggunakan loc

# Import Modules

Jangan lupa untuk mengimport modules, modules yang digunakan :

1. pandas as pd

2. numpy as np

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.5
1.19.5

# Persiapan Data Frame

disini kita akan membuat data frame dengan jumlah baris 10 dan jumlah kolom 5

lalu kita memberi nama atau label untuk tiap kolomnya dengan fungsi tuple dengan nama ABCDE

untuk isi data nya kita menggunakan angka yang dipilih secara acak dari jangkauan 1 sampai 20 yang ukurannya sesuai dengan kolom dan baris

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                 columns=cols)
df

    A   B   C   D   E
0   1   7  14   2   4
1   7  17   3   1  13
2   5  14  11  12   3
3  17  16   2  18  10
4  19  14  11  19  10
5  19  13  17   3  18
6  16  17  15   2  14
7   2   1  15  13   2
8  10   6   8   7  15
9  10   9  14  19  14

# Seleksi kolom dan baris menggunakan loc

untuk menggunakan fungsi loc , kita bisa menggunakan dua buah bagian yang dipisahkan oleh koma 

tidak lupa untuk awal dan akir menggunakan kurung siku 

bagian pertama untuk loc mengatur baris

sedangkan bagian kedua loc mengatur kolom

In [3]:
df.loc[[0,3,4], ['B','E']]

    B   E
0   7   4
3  16  10
4  14  10

# Seleksi baris dengan kondisi

disini kita bisa menyertakan kondisi , dengan contoh [df['B']>10} disini artinya dari data frame yang angka barisnya di atas nilai 10

dan untuk bagian kedua kita hanya menuliskan bagian kolomnya saja

In [4]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
1  17   1  13
2  14  12   3
3  16  18  10
4  14  19  10
5  13   3  18
6  17   2  14

# Slicing Data Frame dengan loc

disini kita akan slicing untuk bagian pertama yaitu [0 :4] yang artinya indek dari baris 0 sampai index baris 4 

lalu kita untuk bagian kedua kita hanya perlu menuliskan nama kolomnya saja

In [5]:
df.loc[0:4, 'B':'D']

    B   C   D
0   7  14   2
1  17   3   1
2  14  11  12
3  16   2  18
4  14  11  19