# 02 Pemilihan baris (rows selection) pada Data Frame

# Import Modules

^ Modules yang digunakan :

1. pandsa as pd

2. numpy as np

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.5
1.19.5

# Persiapan Data Frame

^ Pertama kita membuat data frame dengan jumlah kolom 5 dan baris 10

^ lalu kita beri label abcde untuk setiap kolomnya

^  untuk isi data frame kita menggunakan angka yang telah di acak dengan jangkauan 1 sampai 5 dengan size sesuai kolom dan baris

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)),
                   columns=cols)
df

   A  B  C  D  E
0  3  4  2  2  1
1  1  3  3  3  4
2  3  3  4  4  3
3  3  4  2  3  3
4  2  2  4  4  3
5  1  1  2  2  4
6  1  3  3  1  4
7  3  4  1  2  3
8  2  1  1  3  1
9  1  1  2  1  4

# Selection dengan operator logika |

^ disini kita akan menseleksi nilai a yang bernilai 1 atu nilai a nya yang 3

In [4]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
0  3  4  2  2  1
1  1  3  3  3  4
2  3  3  4  4  3
3  3  4  2  3  3
5  1  1  2  2  4
6  1  3  3  1  4
7  3  4  1  2  3
9  1  1  2  1  4

# Selection dengan fungsi isin()

^ fungsi isin() ini juga sama persis dengan fungsi | atau or namun penulisannya yang berbeda

In [5]:

df[df['A'].isin([1, 3])]

   A  B  C  D  E
0  3  4  2  2  1
1  1  3  3  3  4
2  3  3  4  4  3
3  3  4  2  3  3
5  1  1  2  2  4
6  1  3  3  1  4
7  3  4  1  2  3
9  1  1  2  1  4

# Mengenali Operator Negasi

^ fungsi ini untuk memilih nilai yang tidak sama dengan nilai 1 dan 3

In [6]:
df[~df['A'].isin([1, 3])]

   A  B  C  D  E
4  2  2  4  4  3
8  2  1  1  3  1