# 8 - Memeriksa kesamaan antar kolom (Series) pada Data Frame

# Import Modules

^pertama jangan lupa untuk mengimport modul , modul yang digunakan :
 1. pandas as pd

 2.numpy as np

In [1]:
import pandas as pd
import numpy as np 

print(pd.__version__)
print(np.__version__)

1.1.5
1.19.5

# Persiapan Data Frame

^ data frame saat ini akan ada dua buah data , yaitu  data A dan B

^ data yang kita pakai ini memiliki nilai yang sama ,

In [2]:
data = { 'A':[15, 15, 18, np.nan, 12, ], 
               'B' :[5, 15, 18, np.nan, 12, ]}

df = pd.DataFrame(data)
df

      A     B
0  15.0   5.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

# Mengenal Pandas Series

^ Pada dasarnya series itu adalah kolom / setiap kolom di data frame memiliki data series

In [3]:
df[ 'A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

^jika ingin mengetahui tipe data script di atas , kita bisa menggunakan fungsi type(df[ 'A']) 

^dimana jenis data tersebut yaitu pandas, core, series,series

In [4]:
type(df[ 'A'])

pandas.core.series.Series

^ sedangkan jika tipe data df ya itu data Frame

In [5]:
type(df)

pandas.core.frame.DataFrame

# Memeriksa kesamaan dengan operator ==

^ jika ingin memeriksa kesamaan nilai kolom a dan kolom b kita bisa menggunakan operator ==

^ tetapi ada kelemahan dari operator == yaitu pada data NaN disini tidak bisa membandingkan dengan sempurna

In [5]:
df[ 'A'] == df[ 'B' ]

0    False
1     True
2     True
3    False
4     True
dtype: bool

# Memeriksa kesamaan dengan operator equals

^ berikut alternatif jika kita tidak memakai operator == tetapi dengan equals

^ penulisannya yaitu df[ 'A'] .equals( df[ 'B' ]), tetapi jika di balik penulisannya akan sama saja

In [6]:
df[ 'A'] .equals( df[ 'B' ])

False

# Memeriksa kesamaan kedua data frame

^ disini kita copy data frame semula yang kita buat , lalu ditampung di df1 dengan kondisi sama namun objeknya berbeda

^ lalu kita uji dengan fungsi / operator equals

In [19]:
df1 = df.copy(deep=True) 

df.equals(df1)

True

^ lalu kita coba menbandingkan dua data frame menggunakan operator ==

^ namun cara terbaik untuk membandingkan dua data frame yaitu dengan operator equals 

^ kalau oprator == itu bukan untuk membandingkan data , karena tujuannya juga beda sehingga hasil nya berbeda

In [20]:
df == df1

       E      F
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True
5   True   True