# 12  Membentuk kolom bertipe datetime dari beberapa kolom lain pada Pandas Data Frame

# Import Modules

Modules yang digunakan :

pandas as pd

In [1]:
import pandas as pd

print(pd.__version__)

1.1.5

# Persiapan Data Frame

disiini kita tidak akan menggunakan angka lagi , tetapi untuk kolom kita ada 3 bagian yaitu day,month,year

dan untuk baris nya mereka terdiri dari masing masing data yang berkolerasi

In [3]:
data = {'day' :[1, 2, 10, 25, 12], 
              'month':[1, 2, 4, 5, 6],
              'year':[2000, 2001, 2010, 2015, 2020]}

df = pd.DataFrame(data)
df

   day  month  year
0    1      1  2000
1    2      2  2001
2   10      4  2010
3   25      5  2015
4   12      6  2020

# Membentuk kolom bertipe datetime

untuk kolom barunya kita harus menuliskan namanya , contoh df['penanggalan']

lalu kita panggil pd.to_datetime(df[['day', 'month', 'year']]) sebagai kolom yang ingin kita sertakan

In [4]:
df['penanggalan'] =  pd.to_datetime(df[['day', 'month', 'year']])
df

   day  month  year penanggalan
0    1      1  2000  2000-01-01
1    2      2  2001  2001-02-02
2   10      4  2010  2010-04-10
3   25      5  2015  2015-05-25
4   12      6  2020  2020-06-12

untuk mengetahui jenis data data yang kita buat kita bisa memanggil fungsi df.dtypes

In [5]:
df.dtypes

day                     int64
month                   int64
year                    int64
penanggalan    datetime64[ns]
dtype: object